.App {
  text-align: center;
}

.DataDiv{
  padding: 1%;
  border: solid black 2px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5%;
  column-gap: 2%;
  margin-top: 2%;
}

.img{
  width: 20%;
  border: solid black 2px;
  margin-top: 2%;
}
img{
  width: 80%;
  height: 50%;
}
@media only screen and (max-width: 600px) {
  div .flex{
   display: inline;
 
  }
}